# OS
.DS_Store

# Python
__pycache__/
*.pyc
# Do not commit local dev folders
scripts/
db/
*.pyo
*.pyd
*.log

# Env and secrets
.env
.env.*
!.env.example

# Virtualenvs
venv/
.env_local/
.venv/
tg_bot/

# test
scripts/
db/
docs/
requirements-dev.txt

# Node
node_modules/

# Vercel/Build
.vercel/
.next/
out/

# Misc
*.swp
*.swo